#top {width: 710px; height: 720px; background-color: #0000FF;}

.container {
  padding: 0;
  width: 710px;
  height: 710px;
  
}

.item {
  background: white;
  padding: 0px;
  margin: 1px 1px 1px 1px;
  float: left;
  color: black;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}
